* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    transition: all .2s linear;
}

@mixin media($size) {
    @media (max-width: #{$size}px) {
        @content;
    }
}

.container {
    margin: 0 auto;
    padding: 0 30px;
}

body{
    background:#F5F5F5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: #f2f0f0;
}
input {
    border: none;
    outline: none;
}

